@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Tree CSS -->
    <link href="~/css/tree.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/Admins/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <div class="" style="width: 100%">
                    <img style="width: 100px; " src="http://ikachi.hyec.vn/logo-ikachi.d5ce6acca6067d5168d3.png" alt="">

                </div>
                <!-- logo for regular state and mobile devices -->

            </a>
            <!-- Header Navbar -->

        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background-color: white ;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    @*<div class="pull-left image">
                    <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>*@
                    @*<div class="pull-left info">
                    <p>Shehryar Khan</p>*@
                    <!-- Status -->
                    @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>*@
                </div>
                <!-- search form (Optional) -->
                @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
                </button>
                </span>
                </div>
                </form>*@
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree" style="padding-top: 110px">
                    <div
                        style="display: flex; align-items: center; justify-content: space-between; padding-left: 20px;padding-right: 20px;">
                        <span class="header" style="color: #9d9d9b;">Truy cập nhanh</span>
                        <i class="fa fa-search"></i>
                    </div>

                    @Html.Raw(HttpContextAccessor?.HttpContext?.Session.GetString("menuString"))


                </ul>
                <div style="display: flex; padding-top: 60%; align-items: center; position: absolute;">
                    <div style="padding-right: 10px; border-radius: 5%;">
                        <img width="40" style="border-radius: 50%;" src="http://ikachi.hyec.vn/assets/avartar-empty.jpg"
                            alt="">
                    </div>


                    <div class="dropup">
                        <a>@(HttpContextAccessor?.HttpContext?.Session.GetString("UserName"))</a>
                        <button class="btn btn-primary btn-xs" dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/Logout">Sign out</a></li>
                        </ul>
                        <p style="color: #acb4bb;">
                            @Html.Raw(HttpContextAccessor?.HttpContext?.Session.GetString("email"))
                        </p>
                    </div>



                </div>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('a[data-function][data-type]');
        links.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var functionName = link.getAttribute('data-function');
                var nameEng = link.getAttribute('data-type');
                var UserName = link.getAttribute('data-username');
                var url = link.getAttribute('data-url');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckAccessSP", "Account")',
                    data: {
                        PermissionType: nameEng,
                        FunctionName: functionName,
                        UserName: UserName,
                        url: url
                    },
                    success: function (response) {
                        window.location.href = url;
                    },
                    error: function (xhr, status, error) {
                        if (status == 404) {
                            window.location.href = "Admins/Error";
                        }
                          window.location.href = "Admins/Error";

                    }
                }); 11
            });
        });
    });
</script>

</html>