@model IEnumerable<RoleBasedAuthorization.list.TblUserAccount>

@{
    ViewData["Title"] = "Admins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Admins Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>userName</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>

                                    <td>@user.FullName</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>

                                    <td>
                                        <a href='@Url.Action("Edit",  new { id = user.UserName })'
                                            class="btn btn-primary">Edit</a>
                                        <a href='@Url.Action("ResetPassword",  new { userEmail = user.Email })'
                                            class="btn btn-primary">Reset Password</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
